<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Home</title>
    <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Test Site</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">

            <li>{{ profile.welcome }}</li>
            <li><a href="{{feedback.url}}">{{ feedback.name }}</a></li>
            <li><a href="/{{log.url}}">{{log.name }}</a></li>
            <li><a href="/{{register.url}}">{{ register.name }}</a></li>
            <li><a href="/{{profile.url}}">{{ profile.name }}</a></li>
          </ul>
        </div>
      </nav>
</head>
<body bgcolor="Cornsilk">
    {% block content %}

    {% endblock %}
    <p></p>
</body>
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"> {{ profile.welcome }} </h5>
          <p class="grey-text text-lighten-4"></p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
             <li><a  class="grey-text text-lighten-3"  href="{{feedback.url}}">{{ feedback.name }}</a></li>
            <li><a  class="grey-text text-lighten-3" href="/{{log.url}}">{{log.name }}</a></li>
            <li><a  class="grey-text text-lighten-3" href="/{{register.url}}">{{ register.name }}</a></li>
            <li><a  class="grey-text text-lighten-3" href="/{{profile.url}}">{{ profile.name }}</a></li>

        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Developed by : ©{{copyright.name}}
      <a class="grey-text text-lighten-4 right" href="#!">
      contact details:<br>Phone :
      {{copyright.phone_number}}, Email:
      {{copyright.email}} <br></a>
      </div>
    </div>
  </footer>
</html>